.profile-container {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 1em;
  padding-right: 1em;
}

.card-group {
  justify-content: center;
}

.fav-card {
  margin-bottom: 1em;
  margin-top: 1em;
}

.update_btn {
  margin-bottom: 1rem;
}

.no-bottom-margin {
  margin-bottom: 0 !important;
}

.alert-align {
  align-items: baseline;
}

.delete-alert {
  display: flex;
  margin-top: 1em;
}

.delete-btn {
  margin-left: 1rem;
}
