.movie-genre span.value:not(:last-child):after,
.movie-director span.value:not(:last-child):after {
  content: ", ";
}

.card-img-description{
  display: inline-flex;
}

@media only screen and (max-width: 600px) {
  .card-img-description {
    display: block;
    text-align: center;
  }
}