.searchbar {
  margin: 0 auto;
  width: 500px !important;
  background-color: var(--background-secondary-color) !important;
}

.searchbar::placeholder{
  color: var(--text-primary-color) !important;
}

@media only screen and (max-width: 600px) {
 .searchbar {
   width: 100% !important;
  }
}
