@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@400;500&display=swap");


:root {
  --text-primary-color: #ffffff;
  --text-secondary-color: #828d99;
  --text-third-color: #bec2cc;
  --background-color: #0376e3;
  --background-secondary-color: #1e2127;
  --background-third-color: #1b1d24;
}

body {
  background-color: var(--background-third-color) !important;
}

.con_fluid {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

html.full-page {
  height: 100%;
  body,
  .app-container,
  .container-fluid,
  .main-view,
  .main-view > .nopadding.col,
  .background {
    height: 100%;
  }

  .background {
    display: flex;
    flex-direction: column;
    .d-flex {
      flex-grow: 1;
    }
  }
}
