.con_fluid {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

html.full-page {
  height: 100%;
}

html.full-page body,
html.full-page .app-container,
html.full-page .container-fluid,
html.full-page .main-view,
html.full-page .background {
  height: 100%;
}
